/data/best_params
/data/uniform_init_best_params
/data/result
/data/kuairec

/notebooks

/src/__pycache__

/utils/__pycache__
/utils/dataloader/__pycache__

/conf/__pycache__

/logs/

/test/__pycache__
/test/.pytest_cache

/.pytest_cache

_main_search_params.py
