/data/result
/data/kuairec/*
!/data/kuairec/.gitkeep

/notebooks

/src/__pycache__

/utils/__pycache__
/utils/dataloader/__pycache__

/conf/__pycache__

/test/__pycache__
/test/.pytest_cache

/.pytest_cache

_main_search_params.py
